// The primary page found on `/`
.Page[data-page="index"] {
  // Align items to the center
  justify-content: center;
  align-items: center;

  /// Specific Component Styles -->
  .Input__Group--Search {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0;

    margin-top: 1.5rem;

    // Static width so the animation below works
    width: 550px;
  }

  // NOTE: The same design is used in _search.scss. If you update it here, try to update it there too.
  input.Input__Default.Input--Search {
    border-radius: var(--radius);

    width: 100%;
    padding: 1rem 1.2rem;

    // Space for the search button
    padding-right: 3.5rem;

    height: 50px;
    outline: 3px solid transparent;

    &:focus {
      @include glow-xl();

      transform: scale(1.05);
      font-size: 18px;
      outline: 2px solid $accent;
      outline-offset: 3px;

      & ~ .Button--Search {
        // Magic value ;p
        right: -5px;
      }
    }
  }

  button.Button.Button--Search {
    position: absolute;
    right: calc((50px - 35px) / 2);

    border-radius: var(--radius-sm);

    // Force a size of 35px
    width: 35px;
    height: 35px;

    border: 0;
    outline: 0;

    cursor: pointer;

    background-color: $accent;
    color: $bg-0;
    font-weight: bold;
    font-size: 24px;

    // Fit the icon properly
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s;

    &:hover {
      background-color: $accent-2;
    }

    .Icon {
      @include icon(20px);
    }
  }

  .Logo {
    width: 100%;
  }

  .MOTD {
    color: $muted;
    font-style: italic;
  }
}
