// The page found on `/search`
.Page[data-page="search"] {
  --max-width: 1200px;
  --page-padding: 2rem;

  %Navbar__Button--active {
    background-color: $bg-1 !important;
    outline: 2px solid $accent;
    outline-offset: 2px;
    font-weight: 600;
    color: $fg;

    .Icon {
      fill: $accent;
    }
  }

  &[data-type="0"] {
    .Navbar .Navbar__Subbar .Navbar__Button[data-type="0"] {
      @extend %Navbar__Button--active;
    }
  }

  &[data-type="1"] {
    .Navbar .Navbar__Subbar .Navbar__Button[data-type="1"] {
      @extend %Navbar__Button--active;
    }
  }

  .Navbar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $bg-2;
    gap: 2rem;

    .Navbar__Search,
    .Navbar__Subbar {
      max-width: var(--max-width);
    }

    .Navbar__Search {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .Navbar__Logo {
        max-height: 40px;
      }

      form,
      .Input__Group--Search {
        width: 100%;
        max-width: calc(var(--max-width) / 2);
      }

      .Input__Group--Search {
        position: relative;

        display: flex;
        align-items: center;
        gap: 0;
      }

      // NOTE: The same design is used in _index.scss. If you update it here, try to update it there too.
      input.Input__Default.Input--Search {
        // Unset the default border-radius
        border-radius: var(--radius);

        width: 100%;
        padding: 0.8rem 1rem;
        outline: 3px solid transparent;
        height: 45px;
        font-size: 16px;

        &:focus {
          @include glow-lg();

          outline: 2px solid $accent;
          outline-offset: 3px;
        }
      }

      button.Button.Button--Search {
        position: absolute;
        right: 0;
        border-radius: var(--radius);

        // Force a size of 45px
        width: 45px;
        height: 45px;

        border: 0;
        outline: 0;

        cursor: pointer;

        background-color: $accent;
        color: $bg-0;
        font-weight: bold;
        font-size: 24px;

        // Fit the icon properly
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.25s;

        &:hover {
          background-color: $accent-2;
        }

        .Icon {
          @include icon(20px);
        }
      }
    }

    .Navbar__Subbar {
      display: flex;
      gap: 1rem;

      .Navbar__Button {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.33rem;
        color: $muted;
        border-radius: var(--radius-sm);
        padding: 0.33rem 0.66rem;
        transition: 0.1s;

        .Icon {
          @include icon(18px);

          fill: $muted;
        }

        &:hover {
          background-color: $bg-1;
        }
      }
    }
  }

  .Search {
    padding: var(--page-padding);

    // A class for text-based results
    .Results__Wrapper {
      display: flex;

      // Reverse it because .Widgets comes first.
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 3rem;
    }

    // Shows the time it took to fetch data
    .TimeElapsed {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 14px;
    }
  }

  .Widgets {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .Widget {
      border-radius: var(--radius);
      background-color: $bg-1;
      outline: 2px solid $bg-2;
      outline-offset: 2px;
      max-width: 500px;

      // Mostly used for links to third-party sites
      .Widget__Button {
        display: flex;
        align-items: center;
        border-radius: 0 0 var(--radius) var(--radius);
        border-top: 1px solid $bg-2;
        padding: 1rem 1.25rem;
        font-weight: 600;
        font-size: 14px;
        color: $muted;

        .Icon {
          @include icon(18px);

          // Icons are usually there to indicate a new tab
          margin-left: auto;
        }

        &:hover {
          background-color: $bg-2;
        }
      }

      &[data-widget="wikipedia"] {
        display: flex;
        flex-direction: column;

        .Widget__Content {
          padding: 1.25rem;

          h3 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 14px;
            color: $muted;
            line-height: 20px;
            margin-bottom: 0;
          }

          .Thumbnail {
            float: right;
            max-width: 100px;
            margin-bottom: 1rem;
            margin-left: 1rem;
            border-radius: var(--radius);
          }
        }
      }
    }
  }

  .Results[data-type="text"] {
    max-width: var(--max-width);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .Result {
      display: flex;
      flex-direction: column;
      gap: 0.33rem;

      width: clamp(80vw, 80vw, 800px);
      max-width: 650px;

      h2,
      p {
        margin: 0;
      }

      h2,
      h3 {
        font-size: 20px;
        line-height: 24px;

        a {
          position: relative;
          color: $fg;
          text-decoration: none;

          &,
          &::after {
            transition: 0.1s;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $fg;
            opacity: 0.1;
          }

          &:hover {
            color: $accent;

            &::after {
              background-color: $accent;
              //opacity: 1;
            }
          }
        }
      }

      h2 {
        margin-top: 0.25rem;
        margin-bottom: 0.75rem;
      }

      h3 {
        font-size: 16px;
        line-height: 28px;
      }

      p {
        font-size: 16px;
        color: $muted;
      }

      .Result__URL {
        // Align correctly with the favicon
        display: flex;
        align-items: center;
        gap: 0.33rem;

        color: $disabled;
        font-size: 14px;
      }

      .Result__Favicon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;
        background-color: $bg-1;
        border-radius: 9999px;

        img {
          border-radius: 2px;
          width: 16px;
          height: 16px;
        }
      }

      .Result__Sublinks {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 0.5rem 0;
        padding-left: 1rem;
        border-left: 3px solid $bg-1;

        h3 {
          margin-top: 0;
          line-height: 24px;
          margin-bottom: 0.25rem;

          a::after {
            display: none;
          }
        }

        p {
          font-size: 14px;
        }
      }

      .Result__RichContent {
        color: $disabled;
        font-size: 14px;

        &--object {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0.5rem;

          .RichContent__Item {
            display: block;

            .RichContent__Key,
            .RichContent__Value {
              display: inline-block;
              width: fit-content;

              a {
                color: $fg;
                text-underline-offset: 4px;
                transition: 0.1s;

                &:hover {
                  color: $accent;
                }
              }
            }

            .RichContent__Value {
              color: $muted;
            }
          }
        }
      }
    }
  }

  .Results[data-type="image"] {
    .Images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;

      max-width: calc(100vw - /* Page Padding */ var(--page-padding));

      .Image {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        flex: 1;

        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: var(--radius);

        width: 100%;
        color: $muted;
        text-decoration: none;

        transition: 0.1s;
        outline: 2px solid transparent;

        &:hover {
          background-color: $bg-1;
          color: $fg;
          text-decoration: underline;
          outline: 2px solid $bg-1;
          outline-offset: 3px;

          .Popout {
            opacity: 1;
          }
        }

        img {
          min-width: 200px;
          width: auto;
          height: 200px;
          object-fit: contain;
          border-radius: var(--radius);
          background-color: $bg-2;
        }

        span {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 24px;
          font-size: 14px;
          text-underline-offset: 8px;
          text-decoration-color: $muted;
        }
      }
    }

    &[data-engine="qwant"] {
    }
  }
}
