@font-face {
  font-family: "Archivo";
  src: font-url("Archivo-Variable.woff2") format("woff2"),
    font-url("Archivo-Variable.woff") format("woff"),
    font-url("Archivo-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: font-url("Archivo-VariableItalic.woff2") format("woff2"),
    font-url("Archivo-VariableItalic.woff") format("woff"),
    font-url("Archivo-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
