/// Imports -->
@import "variables"; // Import default themes
@import "font"; // Import fonts

// Pages ->
@import "pages/index";
@import "pages/search";

/// Core Styles -->
body {
  // Text and background color
  background-color: $bg-0;
  color: $fg;

  // Font styles
  font-family: $font-family;
  text-rendering: optimizeLegibility;

  margin: 0;
}

// Styles for parent routes
.Page {
  // Used for pages that want to do a special form of alignment (like aligning everything to the center)
  &.Page--flex {
    display: flex;
    flex-direction: column;
  }

  // Used for pages that take up all the space on the screen
  &.Page--fullscreen {
    min-height: 100vh;
  }
}

/// Components -->
input.Input__Default {
  border: none;
  outline: none;
  box-sizing: border-box;

  background-color: $bg-1;
  color: $muted;

  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 0.75rem 1rem;

  transition: 0.25s;

  border-radius: var(--border-radius);

  &:hover {
    background-color: $bg-2;
  }

  &:focus {
    background-color: $bg-2;
    color: $fg;
  }

  &::placeholder {
    color: $muted;
  }
}

/// Util Classes -->
.Hidden {
  display: none;
}

.Muted {
  color: $muted;
}

.ImageLink {
  text-decoration: none;

  img {
    vertical-align: middle;
  }
}
