<main class="Page Page--flex Page--fullscreen" data-page="index">
  <div class="Index__Form">
    <%= image_tag "logo.svg", alt: "Inertia's logo", class: "Logo" %>
    <p class="MOTD">
      <%= @motd %>
    </p>
    <!-- The primary search input form -->
    <form action="/search">
      <div class="Input__Group Input__Group--Search">
        <input
          class="Input__Default Input--Search"
          placeholder="Search..."
          type="text"
          autocomplete="off"
          autocorrect="off"
          name="query"
          autofocus
        >
        <button for="Search+Submit" class="Button Button--Search">
          <%= inline_svg("icons/search.svg", class: "Icon Icon--on-foreground") %>
        </button>
        <input id="Search+Submit" class="Hidden" type="submit">
      </div>
    </form>
  </div>
</main>
